extends root


block head-scripts
	script(src="https://code.jquery.com/jquery-1.10.2.min.js"   integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg="   crossorigin="anonymous")

block styles
	link(href='http://fonts.googleapis.com/css?family=Scada:400,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
	link(rel="shortcut icon", href=asset("i/favicon.png"))
	link(rel="stylesheet", href=asset("vendor.css"))
	link(rel="stylesheet", href=asset("app.css"))

block scripts
	script(src=asset("vendor.js"))
	script(src=asset("app.js"))

block root
	h1.sr-only= site.title
	+b-header
	main.main
		block content
	+b-footer